{:deps
 {ring/ring-jetty-adapter {:mvn/version "1.9.2"}
  metosin/reitit {:mvn/version "0.5.13"}
  metosin/muuntaja {:mvn/version "0.6.8"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "9e35c979860c75555adaff7600070c60004a0f44"}
                org.clojure/test.check {:mvn/version "1.1.0"}
                ring/ring-mock {:mvn/version "0.4.0"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :dev
  {:extra-deps {org.clojure/tools.trace {:mvn/version "0.7.11"}}}

  :cljs
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.758"}
                cljs-ajax {:mvn/version "0.8.3"}}
   :main-opts ["-m" "cljs.main"]}}}
